body {
    background-color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

// start navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #1e3771;
        color: #fff;
    }
}

// end navbar

// start header
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header-background@2x.jpg');
    background-size: cover;
    
    h1,p {
        color: #fff;
    }

    h1 {
        font-family: 'playfair Display','serif';
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #FFF;

        &:hover {
            background-color: #FFAA59;
            color: #FFF;
        }
    }

}

// end header

// start statistik
.section-stats {
    margin-top: -50px;
    
    .stats-detail {
        padding-top: 15px;
        background-color: #FFF;
        padding-left: 30px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// end statistik

//start popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;

        h2,p {
            color: #FFF;
        }

        h2 {
            font-family: 'playfire Display','serif';
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

}
//end popular

// start popular content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #FFF;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
            
        }

        .travel-country {
            font-size: 18px;
            color: #FFF;
        }

        .travel-location {
            font-size: 26px;
            color: #FFF;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FF9E53;
                color: #FFF;

                &:hover {
                    background-color: #FFAE6F;
                    color: #FFF;
                }
            }
        }
    }
}

//start networks
.section-networks {
    background-color: #FFF;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display','serif';
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    img {
        max-width: 100%;
    }
}

// start testimonial heading
.section-testimonial-heading {
    background: linear-gradient(#FFF 0%,#f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'playfair display','serif';
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

// start testimonial content
.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }

        h3 {
            font-size: 22px;
        }

        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
        }

        hr {
            margin-left: -20px;
            margin-right: -20px;
        }

        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }
    }

    .btn-need-help {
        background-color: #F2F2F2;
        color: #c3c3c3;

        &:hover {
            background-color: #FAFAFA;
            color: #c3c3c3;
        }
    }

    .btn-get-started {
        background-color: #FF9E53;
        color: #FFF;

        &:hover {
            background-color: #FFAE6F;
            color: #FFF;
        }
    }
}

// start footer
.section-footer {
    a {
        color: #071c4d;
    }
}

// start details
.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }
}

.card-details {
    padding: 30px;
    border-radius: 11px;

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #071c4d;
    }

    p {
        font-size: 18px;
        color: #b1b1b1;
    }

    .trip-information {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #071c4d;
        }

        td {
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
        }

        .text-blue {
            color: #071c4d;
            font-weight: bold;
        }

        .text-orange {
            color: #ff9e53;
            font-weight: bold;
        }

    }

    .payment-instructions {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }

    .bank-item {
        font-size: 18px;
        color: #071c4d;
        margin-bottom: 0;

        p {
            margin-bottom: 0;
        }

        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;

            h3 {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }
            p {
                font-weight: normal;
                font-size: 14px;
                color: #071c4d;
            }
        }
    }
    
}

h3 {
    font-weight: 600;
    font-size: 14px;
    color: #071c4d;
}

.disclamer {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}

.gj-datepicker {
    .datepicker {
        border-right: 0;
    }
    .input-group-append {
        .btn {
            padding-right: 30px;
        }
    }
}

.btn-add-now {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #183886;
        color: #fff;
    }
}

.card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.gallery {
    .xzoom-container {
        display: block;

        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }

        .xactive {
            border: 4px solid #1abc9c;
            box-shadow: none;
        }

    }
}

// start details right
.join-container {
    margin-top: -16px;

    .btn-join-now {
        background-color: #ff9e53;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: #ffb575;
            color: #fff;
        }
    }
}

.features {
    margin-top: 10px;

    h3 {
        font-size: 18px;
        color: #071c4d;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    .description {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }

    .features-image {
        width: 45px;
        height: 45px;
        float: left;
    }
}

// start success
.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 28px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #fff;

        &:hover {
            background-color: #2a488e;
            color: #fff;
        }
    }
}